<div class="card col-12">
  <%= form_with(model: unidade_saude, remote: true, class: 'form-horizontal',id:"unidade-saude-form") do |form| %>
    <div class="card-body register-card-body">

      <div class="mb-2">

      <h5 class="text-left"><i class="bi bi-building-fill"></i> Dados de Unidade de Saúde</h5>
        <hr class="mb-4"/>


        <div class="row">
          <div class="input-group mb-3 col-12">
            <%= form.text_field :nome, placeholder: 'Nome da Unidade', class: "form-control tom-select", autofocus: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-hospital"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-group mb-3 col-4">
            <%= form.text_field :cnes, placeholder: 'Número de CNES', class: "form-control campo_cnes", autofocus: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-hospital"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3 col-3">
            <%= form.text_field :telefone, placeholder: 'Telefone', class: "form-control campo_telefone" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-telephone"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3 col-5">
            <%= form.email_field :email_unidade_saude, placeholder: 'Email', class: "form-control" %>
            <div class="input-group-append">
            <div class="input-group-text">
              <span class="fs-4 bi-envelope-at"></span>
            </div>
            </div>  
          </div>
        </div>
      </div>
      <div>

        <h5 class="text-left mb-2"><i class="bi bi-geo-alt-fill"></i> Endereço de Unidade de Saúde</h5>
        <hr class="mb-4"/>
        <div class="row">
          <div class="input-group mb-3 col-6 ">
            <%= form.text_field :cep, class: "form-control campo_cep", placeholder: 'CEP' %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="bi bi-geo-alt-fill"></span>
              </div>
            </div>
          </div>
          <button class="actions btn btn-info mb-3 botao_cep">
              <i class="bi bi-geo-alt-fill"></i> Obter Endereço
          </button>
        </div>


        </div>
        
      <div class='row'>
        <div class="input-group mb-3 col-6">
          <%= form.text_field :endereco, class: "form-control dado_endereco_rua",
                              placeholder: 'Endereço' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3 col-3">
          <%= form.text_field :complemento, class: "form-control ",
                              placeholder: 'Complemento' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3 col-3">
          <%= form.text_field :bairro, class: "form-control dado_endereco_bairro",
                              placeholder: 'Bairro' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3 col-6">
          <%= form.text_field :cidade, class: "form-control dado_endereco_cidade",
                              placeholder: 'Cidade' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>


        <div class="input-group mb-3 col-3">
          <%= form.text_field :estado, class: "form-control dado_endereco_estado",
                              placeholder: 'Estado' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3 col-3">
          <select select class="form-control" name="unidade_saude[pais]" id="unidade_saude_pais">
            <option value="Brasil" selected>Brasil</option>
          </select>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="bi bi-geo-alt-fill"></span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer row">
      <div class="actions col-12 text-center">
        <%= form.submit class: 'btn btn-primary' %>
      </div>

    </div>

  <% end %>
</div>


