<div id="<%= dom_id unidade_saude %>">
  <p>
    <strong>Unidade nome:</strong>
    <%= unidade_saude.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= unidade_saude.email_unidade_saude %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= unidade_saude.telefone %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= unidade_saude.cep %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= unidade_saude.cidade %>
  </p>

  <p>
    <strong>Unidade federativa:</strong>
    <%= unidade_saude.estado %>
  </p>

</div>
