<h3 class="text-center">Listagem de Unidade de Saude</h3>
<!-- <table id="dttb" class="table border border-dark" style="width:100%">
  <thead>
    <tr>
      <th data-data="unidade_nome">Unidade nome</th>
      <th data-data="email">Email</th>
      <th data-data="telefone">Telefone</th>
      <th data-data="cep">Cep</th>
      <th data-data="municipio">Municipio</th>
      <th data-data="unidade_federativa">Unidade federativa</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>
  <tbody>
       <% @unidades_saudes.each do |unidade_saude| %>
          <tr>
              <td><%= unidade_saude.nome%></td>
              <td><%= unidade_saude.email_unidade_saude%></td>
              <td><%= unidade_saude.telefone%></td>
              <td><%= unidade_saude.endereco%></td>
              <td><%= unidade_saude.cidade%></td>
              <td>
                  <%= link_to "Ver", unidade_saude_path(unidade_saude.id), class:"btn btn-info" %>
              </td>
          </tr>
      <% end %>
  </tbody>

</table> -->
    <table id="dttb" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th> Nome</th> 
          <th> Endereço</th>
          <th> Telefone</th>                   
          <th> Email</th>                   
        </tr>
      </thead>
      <tbody>
        <% @unidades_saudes.each do |unidade| %>
          <tr>
            <td><%= link_to unidade.nome, unidade %></td>
            <td><%= link_to unidade.endereco, unidade %></td>
            <td><%= link_to unidade.telefone, unidade %></td>
            <td><%= link_to unidade.email_unidade_saude, unidade %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>

<%= link_to 'New Unidade Saude', new_unidade_saude_path %>