<h5 class="text-center p-2">Preencha os dados abaixo</h5>
<div class="card col-12">
 

  <%= form_with(model: paciente, local: true, class: 'form-horizontal',id:"paciente-form") do |form| %>
    <div class="card-body register-card-body">
 <select class="multis" style="width: 100%;">
  <option value="1">Opção 1</option>
  <option value="2">Opção 2</option>
</select>
      <div class="mb-2"> <h4 class="text-left"><i class="fs-4 bi-hospital"></i> Unidades de Saúde</h4>
        <hr class="mb-4"/>

        <div class="row">
          <div class="input-group mb-3 col-12">
            <%= form.text_field :nome, placeholder: 'Nome do Paciente', class: "form-control", autofocus: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-person"></span>
              </div>
            </div>
          </div>
        </div>
      

      <h4 class="text-left"><i class="fs-4 bi-person"></i> Dados do Paciente</h4>
        <hr class="mb-4"/>


        <div class="row">
          <div class="input-group mb-3 col-12">
            <%= form.text_field :nome_paciente, placeholder: 'Nome do Paciente', class: "form-control", autofocus: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-person"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">


          <div class="input-group mb-3 col-3">
            <%= form.text_field :cpf_paciente, placeholder: 'CPF do Paciente', class: "form-control" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fs-4 bi-person"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3 col-5">
            <%= form.email_field :sexo, placeholder: 'Email', class: "form-control" %>
            <div class="input-group-append">
            <div class="input-group-text">
              <span class="fs-4 bi-envelope-at"></span>
            </div>
            </div>  
          </div>
        </div>
      </div>
      <div>

  <% end %>
</div>