<p style="color: green"><%= notice %></p>

<%= render @unidade_saude %>

<div>
  <%= link_to "Edit this unidade saude", edit_unidade_saude_path(@unidade_saude) %> |
  <%= link_to "Back to unidade saudes", unidade_saudes_path %>

  <%= button_to "Destroy this unidade saude", @unidade_saude, method: :delete %>
</div>
