<% if usuario_signed_in? %>
 <nav class="navbar align-self-start w-100 navbar-expand-lg bg-dark border-start  border-1 border-white" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex flex-row-reverse mr-3" id="navbarNav">
        <ul class="navbar-nav mr-2">
          <li class="nav-item mr-2" >
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= image_tag "user_icon", width: "30", height:"30" %>
              </a>
              <span class="text-white"><%= current_usuario.nome %></span>
              <div class="dropdown-menu m-3" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href=<%= usuario_path(session[:usuario_id])%>>Editar</a>
                <%= button_to "Sair",destroy_usuario_session_path, :method => :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-1 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <h2 class="fs-5 d-none d-sm-inline">MICOLAB</h2>
                </a>
                <hr class="border border-primary w-100" />
                <ul class="nav nav-pills flex-column align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item <%= menu_open('dashboard')%> w-100 px-3">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li class="nav-item <%= menu_open('usuarios')%> w-100 px-3">
                        <a href=<%= usuarios_path %> class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuários</span>
                        </a>
                    </li>
                     <li class="nav-item w-100 px-3">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-person-add""></i> <span class="ms-1 d-none d-sm-inline">Pacientes</span>
                        </a>
                    </li>

                    <li class="nav-item <%= menu_open('unidades_saudes')%> w-100 px-3">
                        <a href=<%= unidades_saudes_path %> class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-hospital"></i> <span class="ms-1 d-none d-sm-inline">Unidades de Saúde</span>
                        </a>
                    </li>

                    <li class="nav-item <%= menu_open('requisicoes')%> w-100 px-3">
                        <a href=<%= requisicoes_path %> class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-droplet-fill"></i> <span class="ms-1 d-none d-sm-inline">Requisições</span>
                        </a>
                    </li>

                    <li class="nav-item w-100 px-3">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-journal-medical"></i> <span class="ms-1 d-none d-sm-inline">Exames</span>
                        </a>
                    </li>

                     <li class="nav-item w-100 px-3">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-cookie"></i> <span class="ms-1 d-none d-sm-inline">Meios de Cultura</span>
                        </a>
                    </li>

                    <li class="nav-item w-100 px-3">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Resultados</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
<% end %>