<div id="<%= dom_id meio_cultura %>">
  <p>
    <strong>Index:</strong>
    <%= meio_cultura.index %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= meio_cultura.show %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= meio_cultura.edit %>
  </p>

  <p>
    <strong>Create:</strong>
    <%= meio_cultura.create %>
  </p>

  <p>
    <strong>Update:</strong>
    <%= meio_cultura.update %>
  </p>

</div>
