<!DOCTYPE html>
<html>
  <head>
    <title>MICOLAB - Sistema de Gerenciamento de Amostras Biológicas </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('petri_dish.ico'), rel: 'icon', type: 'image/x-icon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
   
  </head>

  <body>
    <main id="wrapper">

    <%= render partial: 'shared/sidebar' %>
    <section class="w-100">

    <% flash.each do |key, message| %>
      <% if message.kind_of?(Array) %>
        <div class="alert <%= flash_class(key) %> alert-dismissible text-center">
          <ul>
            <% message.each do |messagem| %>
              <li><%= messagem %></li>
            <% end %>
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>


      <% else %>
        <div class="alert <%= flash_class(key) %> alert-dismissible text-center">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
      <% end %>

          <% end %>
              <div class="col py-3">
                <%= yield %>
              </div>
          </div>
      </div>
            

    </section>      
    </main>
    <%= render 'shared/footer'%>



    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>

  </body>

</html>
